@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Pirata+One&display=swap");

.resume-section,
.home-page {
  text-align: center;
  background-color: #f1ffe7;
  /* border: solid 1rem #a9fdac; */
}
.skill-section {
  list-style: none;
  list-style-type: none;
}

.accordion-flush .accordion-button {
  display: inline-block;
  background-color: #f1ffe7;
  /* background-color: #55DBCB; */
  color: #151515;
}
h1 {
  font-family: "Bungee Inline";
  font-size: 2.5rem;
}
.view-resume {
  font-size: 2.5rem;
}
h3 {
  text-decoration: underline;
  font-family: "Bungee Inline";
  font-size: 2rem;
}
.education,
.experience,
.skills {
  font-size: 1.09rem;
}

.view-resume {
  text-align: center;
  color: #151515;
  padding: 0%;
  margin: 0%;
}
.accordion-header {
  padding-top: 1rem;
}
