@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Pirata+One&display=swap");

.resume-section,
.home-page {
  text-align: center;
  background-color: rgb(246, 180, 228);
}
.skill-section {
  list-style: none;
  list-style-type: none;
}

.accordion-flush .accordion-button {
  display: inline-block;
  background-color: rgb(246, 180, 228);
}
h1 {
  font-family: "Bungee Inline";
  font-size: 2rem;
}
h3 {
  text-decoration: underline;
  font-family: "Bungee Inline";
  font-size: 3rem;
}

.view-resume {
  text-align: center;
  color: #151515;
  padding: 0%;
  margin: 0%;
}
.accordion-header {
  padding-top: 1rem;
}
